.login-logo {
  margin-top: 40px;
}
.login-logo-small {
  height: 90px;
}
.login-logo-x-small {
  height: 70px;
}
.toolbar__center{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  font-weight: 200;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
}
.preAuth {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-margin {
  margin-bottom: 20px;
}
p {
  margin-top: 40px;
  font-size: 1.1em;
}
.white-text {
  color: white;
}
p a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.submit-btn {
  background: linear-gradient(to right, rgb(113, 40, 244), rgb(127, 61, 249), rgb(144, 86, 255), rgb(127, 61, 249), rgb(113, 40, 244));
  width: 200px;
  border-radius: 8px;
}
.email-form {
  background: transparent;
  width: 275px;
  border-radius: 8px;
}
.redirect-btns {
  display: flex;
  width: 90%;
  justify-content: space-around;
}
.page__background {
  /* background-color: #E8DEFF; */
  background-color: #FAF8FF;
}
.button {
  background-color: #29187D;
}
.light-violet {
  color: #E8DEFF
}
.alert-dialog-content input{
  color: #29187D;
}
.lighter-dark-blue-bg{
  background-color: rgba(41,24,125, 0.92);
}
.weather {
  height: 150px;
  display: flex;
  color: white;
  margin-top: 35px;
  padding-left: 10px;
}
.weather p {
  margin: 2px;
}
.temperature {
  font-size: 2em;
}
/* Horizontal line */
.hr {
  background: rgba(255, 255, 255, 0.3);
  width: 100px;
  height: 1px;
  margin: 10px 0;
}
.weather-details {
  font-size: 90%;
  color: rgba(255, 255, 255, 0.9);
}
/* Dropdown list, e.g., for list of gardens */
.select-input {
  font-size: 26px;
  color: white;
}
.big-lightpink-btn{
  background-image: linear-gradient(to right, #f6efff, white, #f6efff);
  color: black;
  font-size: 1em;
  padding: 15px;
}
.carousel-controller{
  display: flex;
  justify-content:
  space-evenly;
  padding: 20px;
  border-bottom: 1px solid rgba(41,24,125, 0.6);
}
.controller-name {
  text-align: center;
  font-size: 24px;
  display: flex;
  align-items: center
}
.flex-align-ctr{
  display: flex; align-items: center;
}
/* .back-button {
  fill: white;
} */
